.container {
  margin: 0 auto;
  margin-top: 20px;
  width: 600px;
  padding: 20px;
  /* border: 1px solid salmon; */
  box-shadow: 15px 0 10px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #e6e9f0, #eef1f5);
}
